/*These are the styles for the header*/
header {
  /*The header is fixed at the top, right, and left of the page*/
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  border-bottom: solid black 1px;
  /*It is a flexbox*/
  display: flex;
  /*Its contents have equal spacing between them*/
  justify-content: space-between;
  height: 70px;
  background-color: white;
  z-index: 1;
}

/*These are the styles for the left section of the header*/
.left-section {
  /*This is a nested flexbox. It is a flexbox within a flexbox*/
  display: flex;
  /*Its contents have equal spacing between them*/
  justify-content: space-between;
  /*The vertical alignment of its items is in the center*/
  align-items: center;
  margin-left: 30px;
  font-family: Josefin Sans;
}

.left-section div {
  margin-right: 8px;
}

.plus-icon,
.contact-us {
  display: inline-block;
}

.contact-us-div {
  position: relative;
}

/*These are the styles for the menu containing contact information*/
.contact-us-menu {
  position: absolute;
  top: 18px;
  left: -20px;
  display: none;
  z-index: 1;
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
}

.contact-us-menu div {
  width: 475px;
  padding-right: 5px;
  padding-left: 10px;
  padding-bottom: 5px;
}

/*Hovering over the 'contact-us-div' changes the display of the menu to block*/
.contact-us-div:hover .contact-us-menu {
  display: block;
}

.call-us-div {
  display: flex;
  align-items: center;
}

.call-us:hover {
  text-decoration: none;
}

.phone-icon {
  height: 20px;
  width: 20px;
  object-fit: contain;
  margin-bottom: 11px;
}

/*These are the styles for the middle section of the header*/
.middle-section {
  /*This is a nested flexbox*/
  display: flex;
  /*Its contents have equal spacing between them*/
  justify-content: space-between;
  /*The vertical alignment of its items is in the center*/
  align-items: center;
  margin-left: 140px;
}

.burberry-logo {
  height: 140px;
  width: 140px;
  object-fit: contain;
}

/*These are the styles for the right section of the header*/
.right-section {
  /*This is a nested flexbox*/
  display: flex;
  width: 200px;
  /*Its contents have equal spacing between them*/
  justify-content: space-between;
  /*The vertical alignment of its items is in the center*/
  align-items: center;
  margin-right: 50px;
}

.shopping-bag-icon,
.search-icon,
.account-icon,
.menu-icon {
  height: 22px;
  width: 22px;
  object-fit: contain;
}

.shopping-bag-icon-div {
  position: relative;
}

.shopping-bag-icon-div div{
  position: absolute;
  top: 30px;
  right: -50px;
  background-color: black;
  color: white;
  font-family: Montserrat;
  font-size: 14px;
  width: 200px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 18px;
  padding-left: 18px;
  border-radius: 3px;
  /*The display of the div inside the class 'shopping-bag-icon-div' is set to none*/
  display: none;
}

.shopping-bag-icon-div:hover .shopping-bag-empty {
  /*Hovering over the 'shopping-bag-icon-div' div causes the display of the div inside it to change to block*/
  display: block;
}

.account-icon {
  height: 32px;
  width: 32px;
  object-fit: contain;
}

.account-icon-div {
  position: relative;
  display: inline-block;
}

/*These are the styles for the account menu*/
.account-menu {
  position: absolute;
  top: 30px;
  left: 0px;
  background-color: white;
  font-family: Montserrat;
  font-size: 14px;
  display: none;
  z-index: 1;
  padding-top: 10px;
  padding-bottom: 10px;
}

.account-menu a {
  color: black;
  display: block;
  border-bottom: solid rbg(178, 178, 178) 1px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  width: 150px;

}

.account-icon-div:hover .account-menu {
  /*Hovering over the 'account-icon-div' changes the display of the account menu to block*/
  display: block;
}


.account-menu a:hover {
  /*Hovering over the links in the account menu causes its background color to change*/
  background-color: #ddd;
}

.search-icon-div {
  position: relative;
}

.search-box {
  position: absolute;
  top: 25px;
  right: -50px;
  width: 400px;
  height: 25px;
  font-family: Montserrat;
  font-size: 14px;
  padding-left: 14px;
  padding-bottom: 20px;
  border: none;
  border-radius: 5px;
  /*The display of the 'search-box' div is set to none*/
  display: none;
  z-index: 1;
}

/*Hovering over the 'search-icon-div' causes the display of the 'search-box' div to change to none*/
.search-icon-div:hover .search-box {
  display: block;
}

.menu-icon {
  margin-right: 2px;
  margin-left: 15px;
}

.menu {
  font-family: Josefin Sans;
  font-size: 15px;
  margin-left: 2px;
}

.menu-icon-div {
  position: relative;
}

.menu-list {
  position: absolute;
  top: 25px;
  left: -60px;
  background-color: white;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  /*The display of the 'menu-list' div is set to none*/
  display: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px;
  z-index: 1;
}

.menu-list a {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 80px;
  width: 200px;
  display: block;
  color: black;
  text-decoration: none;
}

.menu-list a:hover {
  /*Hovering over the links in the menu list causes its background color to change*/
  background-color: #ddd;
}

.menu-icon-div:hover .menu-list {
  /*Hovering over the 'menu-icon-div' div causes the display of the 'menu-list' div to change to block*/
  display: block;
}

.account-icon {
  margin-left: 15px;
}

.search-icon {
  margin-left: 15px;
}